common:
  mac: 00:??:??:??:??:??
  dns: 8.8.8.8, 8.8.4.4
  hostname: <name>s-MacBook-Pro
  # Always connect to VPN
  vpn: myvpn

ignored:
  interfaces:
  - br[0-9]+
  - tap[0-9]+
  - tun[0-9]+
  # Docker
  - docker[0-9]+
  # Virtualbox
  - vboxnet[0-9]+
  # VMWare
  - vmnet[0-9]+

vpn:
  myvpn: |
    client
    dev tun

    proto udp
    remote my-server-1 1194

    resolv-retry infinite
    nobind
    persist-key
    persist-tun

    ca ca.crt
    cert client.crt
    key client.key

    comp-lzo
    verb 3

wired:
  dns: dhcp
  mac: default
  hostname:

static:
  interface: eth0
  addr: 192.168.0.42/24
  gateway: 192.168.0.1

eduroam:
  ssid: eduroam
  wpa: |
    network={
      identity="YOUR-ID-HERE@ku.dk"
      password="YOUR-PASSPHRASE-HERE"
      key_mgmt=WPA-EAP
      pairwise=TKIP
      eap=TTLS
      phase2="auth=MSCHAPv2"
    }

my-home-network:
  ssid: SSID-HERE
  psk: PASSPHRASE-HERE
  vpn: # Empty: don't connect to VPN when at home
