common:
  mac: 00:??:??:??:??:??
  dns: 8.8.8.8, 8.8.4.4
  hostname: <name>s-MacBook-Pro
  # Always connect to VPN
  vpn: myvpn

ignored:
  interfaces:
  - br[0-9]+
  - tap[0-9]+
  - tun[0-9]+
  # Docker
  - docker[0-9]+
  # Virtualbox
  - vboxnet[0-9]+
  # VMWare
  - vmnet[0-9]+

vpn:
  myvpn: |
    client
    dev tun

    proto udp
    remote my-server-1 1194

    resolv-retry infinite
    nobind
    persist-key
    persist-tun

    ca ca.crt
    cert client.crt
    key client.key

    comp-lzo
    verb 3

office:
  vpn: myvpn
  routes:
    # Local network
    - 192.168.0.0/16 -> 192.168.1.1

crappy-hotel-wifi:
  ssid: FreeWiFi
  # Pin access point address to avoid switching between a gazillion equally
  # crappy ones.  This tends to give a more reliable connection.
  ap-addr: 00:11:22:33:44:55
  # Connect to VPN when away from home
  vpn: myvpn

wired:
  dns: dhcp
  # The default is to pick a random MAC in one of the Macbook Pro ranges
  mac: default
  # Don't send a hostname
  hostname:

static:
  interface: eth0
  addr: 192.168.0.42/24
  gateway: 192.168.0.1
  routes:
    - default

eduroam:
  ssid: eduroam
  wpa: |
    network={
      identity="YOUR-ID-HERE@ku.dk"
      password="YOUR-PASSPHRASE-HERE"
      key_mgmt=WPA-EAP
      pairwise=TKIP
      eap=TTLS
      phase2="auth=MSCHAPv2"
    }

my-home-network:
  ssid: SSID-HERE
  psk: PASSPHRASE-HERE
  vpn: # Empty: don't connect to VPN when at home
